{% extends "app/layout.html" %}

{% block content %}

{% load staticfiles %}

<h2 align="center">{{ title }}</h2>
<br/>
<p class="aboutText">Здравствуйте! Меня зовут Ольга. Я из прекрасного города Псков.</p>
<img id="imgPrev"src="{% static 'app/content/prev.jpg' %}" alt="prev">
<p class="aboutText">
    <b>ru.kodelnica</b> – сайт о моём увлечении - вязании спицами и крючком, которое идёт со мной по жизни.
    Здесь Вы можете увидеть вязаные изделия ручной работы, которые имеются в наличии, а также их можно выполнить на заказ с Вашими предпочтениями.
</p>
<p class="aboutText">Имеющиеся в наличии изделия можно приобрести в любое время удобным для Вас способом. Осуществляется доставка по всей России.</p>
<p class="aboutText">Гарантируется полностью ручная работа с индивидуальным дизайном.</p>
<p class="aboutText">
    <b>ru.kodelnica</b> – сайт о рукоделии. Ручная работа, такая как вязание, в частности вязание спицами и вязание крючком, всегда высоко ценилась.
    Вязаные изделия ручной работы сегодня на пике моды.
    Я предлагаю готовые вязаные изделия, а так же мастер-классы по вязанию игрушек, которые станут верными друзьями для Ваших деток.
</p>
<p class="aboutText">
    <b>ru.kodelnica</b> - это творчество, как живопись и музыка. Желаю всем творческого вдохновения и радости от приобретения вязаных изделий!
</p>

{% endblock %}
