{% extends "app/layout.html" %}

{% block content %}

<h2 align="center">{{ title }}</h2>
<br/>
<address class="aboutText">
    ru.kodelnica<br />
    г. Псков<br />
</address>

<address class="aboutText">
    <strong>Группа вконтакте:</strong>   <a href="https://vk.com/ru.kodelnica">vk.com/ru.kodelnica</a><br />
    <strong>Страница вконтакте:</strong> <a href="https://vk.com/ru.kodelnica.vjazanie">vk.com/ru.kodelnica.vjazanie</a><br />
    <strong>Instagram:</strong> <a href="https://www.instagram.com/ru.kodelnica.vjazanie/">www.instagram.com/ru.kodelnica.vjazanie</a>
</address>

{% endblock %}
